/* Calendar */

#calendar {
}

#calendar caption {
	padding-bottom: 5px;
	font-weight: bold;
}

#calendar table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #ccc;
}

#calendar thead th {
	width:14%;
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background:url(../images/top_bar_bg.png);
}

#calendar tbody td {
	padding: 5px 0;
	text-align: center;
	border: 1px solid #ccc;
	height:60px;
}

.today {
	background:url('../images/today_bg.png') right bottom no-repeat;

}

.attendances_count
{
	display:block;
	font-weight:bold;
	color:#0072BC;
	height:100%;
	width:100%;
	text-decoration:none;
}

.has_attendances
{
	line-height:30px;
}

.has_attendances:hover, attendances_count:hover
{
	border:1px solid #F00;
	background-color:#C6D7F2;
	color:#fff;
	cursor:pointer;
}



#calendar tfoot td {
	padding: 5px;
}

#calendar tfoot #next {
	text-align: right;
}



#calendar .highlight {
	background: lightblue;
}

