body {
  	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
  	font-size:   12px;

	color: #333;
}

input:focus,
select:focus,
textarea:focus { background-color: #ffd }

#frame
{
	position:relative;
	width:1000px;
	padding:10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 10px;
	background:url(../images/blackbg.png) ;
	margin:auto;
	margin-top:10%;
}

#container
{
	background-color:#fff;
	padding:10px;
}

.member_table_width
{
	width:600px;
}


.capitalize_me
{
	text-transform:capitalize;
}

.form_table
{
	padding:10px;
}

	.form_table caption
	{
		background:url(../images/caption.png) repeat-x;
		height:31px;
		line-height:31px;
		
	}
	

	.form_table th
	{
		text-align:right;
		padding:2px;
		border:1px solid #aaa;
		color:#0072BC;
	}
	
	.form_table td
	{
		text-align:left;
		padding:2px;
		color:#333;
	
	}	
	
.profile_card td
{
	text-align:left;
}

.profile_card th
{
	width:95px;;
}

.card_name
{
	font-size:2em;
	color:#0072BC;
}

.card_number
{
	font-size:1.2em;
	font-weight:bold;
	color:#0072BC;
	line-height:16px;
	background:url(../images/vcard.png) 2px no-repeat;
	padding:2px;
	padding-left:22px;
}

.card_phone
{
	color:#0072BC;
	line-height:16px;
	background:url(../images/telephone.png) 2px no-repeat;
	padding:2px;
	padding-left:22px;
}

.card_email
{
	color:#0072BC;
	line-height:16px;
	background:url(../images/email.png) 2px no-repeat;
	padding:2px;
	padding-left:22px;
}

.card_address
{
	color:#0072BC;
	line-height:16px;
	background:url(../images/house.png) 2px no-repeat;
	padding:2px;
	padding-left:22px;
}